<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.droidloom.cameraprobe">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:label="Droidloom Camera Check"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:debuggable="true"
        android:allowBackup="false"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".CameraProbeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
