service vendor.audio-hal-aidl /apex/com.android.hardware.audio.droidloom/bin/hw/android.hardware.audio.service-aidl.droidloom
    class hal
    user audioserver
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct wakelock context_hub
    capabilities BLOCK_SUSPEND SYS_NICE
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver

service vendor.audio-effect-hal-aidl /apex/com.android.hardware.audio.droidloom/bin/hw/android.hardware.audio.effect.service-aidl.example
    class hal
    user audioserver
    group audio media
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver
